<div class="deepracer-background" fxLayout="row" fxLayoutAlign="center center">

    <!-- Training data object -->
    <mat-card class="about-card" fxLayout="column">
        <mat-card-header>
            <div mat-card-avatar>
                <mat-icon aria-hidden="false" aria-label="Download" class="big-icon">info</mat-icon>  
            </div>
            <mat-card-title>DeepRacer Analyzer</mat-card-title>
            <mat-card-subtitle>Project information</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content fxFlex>
            <p></p>
            <ul>
                <li>Name/email</li>
                <li>App version</li>
                <li>Description of app</li>
                <li>Link to github</li>
                <li>Credit to other works/repos</li>
                <li>Links to communities</li>
                <li>FAQ</li>
            </ul>
        </mat-card-content>
    </mat-card>

</div>
