.report-container {
    position: absolute;
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;
}

.sidenav-container{
    min-width: 400px;
}

.sidenav-scroll-container {
    overflow-x: auto; 
    height: calc(100% - 64px);
}