<div class="deepracer-background" fxLayout="row" fxLayoutAlign="center center">

    <!-- Training data object -->
    <mat-card class="about-card" fxLayout="column">
        <mat-card-header>
            <div mat-card-avatar>
                <mat-icon aria-hidden="false" aria-label="Download" class="big-icon">info</mat-icon>  
            </div>
            <mat-card-title>DeepRacer Analyzer</mat-card-title>
            <mat-card-subtitle>Mobile policy</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content fxFlex>
            <p>
                Thank you for your interest in DeepRacer Analyzer! This application is designed to facilitate
                a desktop browser experience.
            </p>
        </mat-card-content>
    </mat-card>

</div>